<!--The content below is only a placeholder and can be replaced.-->

<div class="textin">
  <div class="heading1">
    German Input:
  </div>
  <textarea rows="15" cols="115" [(ngModel)]="message" placeholder="Enter German text"></textarea>
  <!-- <button (click)="sendMessage()">Send</button> -->
  
  <div class="buttonContainer">
    <a href="#" class="button" title="Sure?" (click)="sendMessage()">Check Grammar</a>
  </div>
</div>

<div *ngIf="checkGrammar" class="correction">
  <div class="heading2">
    Corrections:
  </div>

  <div class="orgText">
    <div [innerHTML]="temp"></div>
  </div>

  <div class="corrections" *ngIf="!wordCorrect || !lineCorrect">
    <div *ngIf="!wordCorrect">
      <div class="titles">
        Spelling Corrections:
      </div>
      <div *ngFor="let word of wrongWord" [hidden]="false">
        MISTAKE WORD: <div class="doRed"> {{word.word}} </div> <br/>
        <br/>
        SUGGESTIONS: 
        <ul>
          <li *ngFor="let suggestion of word.suggestions">
            {{suggestion}}
          </li>
        </ul>
      </div>
    </div>
    
    <div *ngIf="!lineCorrect">
      <div class="titles">
        Sentence corrections:
      </div>
      <div *ngFor="let message of messages" [hidden]="false">
        MISTAKE: {{message.message}} <br>
        <mark>RULE: {{message.rule?.id}} </mark><br>
        SUGGESTION: {{message.suggestions}} <br/><br/>
      </div>
    </div>
  </div>
  <div *ngIf="wordCorrect && lineCorrect" class="noErr">
    Text has no errors.
  </div>

  
</div>




<router-outlet></router-outlet>
